<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


<div class="triEnCours">
    <div class="triEnCoursText">
        <span class="material-symbols-outlined">cycle</span> 
        Tri en cours
    </div>
</div>

<div class="cadreVideo">
    <mat-spinner color="warn"></mat-spinner>
    <div class="videoText">La vidéo du tri en cours n'est pas disponible pour le moment</div>
</div>

<button class="boutonArret" (click)="arretUrgence()">
    <span class="material-symbols-outlined">do_not_disturb_on</span>
    Arrêt d'urgence
</button>

<div class="cadreComposants">
</div>